In [15]:
import pandas as pd
import pickle
import numpy as np

In [16]:
x_train = pd.read_csv("train_data.csv")
x_test = pd.read_csv("test_data.csv")

In [17]:
x_train

,Unnamed: 0,CashbackAmount,Tenure,CityTier,WarehouseToHome,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,DaySinceLastOrder,PreferredPaymentMode,PreferedOrderCat,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1420,144.24,4.0,1,14.0,3,1,2,0,8.0,4,2,1,0,0,0,1
1,1344,144.04,7.0,1,14.0,1,3,3,0,2.0,3,2,0,1,0,1,0
2,4055,135.91,1.0,3,31.0,2,5,3,0,1.0,1,4,0,1,0,0,1
3,588,122.70,0.0,1,6.0,3,2,4,0,2.0,0,3,1,0,0,1,0
4,4539,291.59,29.0,1,9.0,4,1,4,1,3.0,4,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175,959,170.83,7.0,3,6.0,4,3,2,1,6.0,1,0,0,1,1,0,0
4176,5593,174.07,1.0,3,15.0,4,3,2,1,5.0,6,2,1,0,0,1,0
4177,4258,263.72,31.0,3,17.0,4,3,2,0,9.0,3,1,0,1,0,0,1
4178,251,149.36,24.0,3,20.0,3,2,5,0,7.0,4,2,1,0,1,0,0
4179,5555,181.17,1.0,3,33.0,4,1,3,1,9.0,5,2,0,1,0,1,0

In [18]:
x_train.drop('Unnamed: 0', axis=1, inplace=True)
x_test.drop('Unnamed: 0', axis=1, inplace=True)

# Open Model

### Using Train Data

In [19]:
pickled_model = pickle.load(open('Churn_rf.pkl', 'rb'))
y_predict = pickled_model.predict(x_train)
result = pd.DataFrame(y_predict, columns=['Churn'])
result.value_counts()

Churn
0        3465
1         715
dtype: int64

### Using Test Data

In [20]:
pickled_model = pickle.load(open('Churn_rf.pkl', 'rb'))
y_predict = pickled_model.predict(x_test)
result = pd.DataFrame(y_predict, columns=['Churn'])
result.value_counts()

Churn
0        867
1        179
dtype: int64